<section layout="row" flex>
  <div flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Webapp</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-content>
      <md-list>
        <md-subheader class="md-no-sticky">Coinslots</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="coinslot in coinslots">
          <div>&nbsp;</div>
          <div class="md-list-item-text" layout="column">
            <h3>{{ coinslot.idcoinslot }}</h3>
            <h4>{{ coinslot.slide_counter }}</h4>
            <p>{{ coinslot.full }}</p>
          </div>
          <div>
            Le lol
          </div>
          <div>&nbsp;</div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</section>
