<section layout="row" flex>
  <div flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Webapp</span>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-content layout="column">
      <md-list>
        <md-subheader class="md-no-sticky">Coinslots</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="coinslot in coinslots" layout>
          <div flex="10"></div>
          <div class="md-list-item-text" layout="column" flex>
            <h3>{{ coinslot.idcoinslot }}</h3>
            <h4>{{ coinslot.slide_counter }}</h4>
            <p>{{ coinslot.full }}</p>
          </div>
          <md-button class="md-icon-button" aria-label="More" href="/detail/{{coinslot.idcoinslot}}">
            <md-icon class="material-icons">open_in_new</md-icon>
          </md-button>
          <div flex>
            Le lol
          </div>
          <div flex="10"></div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
</section>
