<section layout="row">
  <div>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>Webapp</span>
        </h2>
      </div>
    </md-toolbar>
    <md-content>
      <div layout>
        <div flex="33" class="one"></div>
        <div flex-xs="" flex-gt-xs="50" layout="column" class="layout-column flex-xs flex-gt-xs-50">
          <md-card>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">Cointlot n°{{coinslotId}}
                  <button class="md-raised md-button md-ink-ripple" ng-class="{'md-warn': infos.full == 1, 'md-primary': infos.full != 1}" type="button">
                    <span class="ng-scope">{{infos.full == 0 ? "Ok" : "Full"}}</span>
                  </button>
                </span>
                <span class="md-subhead">The coinslot registred {{payments.length}} payments</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-content>
              <p>First service: {{infos.first_service}}</p>
              <p>Last maintaince: {{infos.last_maintaince}}</p>
              <p>Slide counter: {{infos.slide_counter}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
              <button ng-click="openManufacturerDialog()"  class="md-button md-ink-ripple" type="button"><span class="ng-scope">Manufacturer</span><div class="md-ripple-container"></div></button>
              <button ng-click="openMaintainceDialog()" class="md-button md-ink-ripple" type="button"><span class="ng-scope">Maintaince Crew</span></button>
            </md-card-actions>
          </md-card>
        </div>
        <div flex="33" class="one"></div>
      </div>
      <md-table-container>
        <table md-table>
          <thead md-head>
            <tr layout md-row>
              <th  class="my-md-cell"flex md-column md-numeric>
                <div class="my-md-cell">
                  ID
                </div>
              </th>
              <th class="my-md-cell" flex md-column md-numeric>
                <div class="my-md-cell">
                  Date
                </div>
              </th>
              <th class="my-md-cell" flex md-column md-numeric>
                <div class="my-md-cell">
                  Paid by
                </div>
              </th>
              <th class="my-md-cell" flex md-column md-numeric>
                <div class="my-md-cell">
                  Status
                </div>
              </th>
            </tr>
          </thead>
          <tbody md-body>
            <tr layout md-row ng-repeat="payment in payments">
              <td flex md-cell>
                <div class="my-md-cell">
                  {{payment.idpayment}}
                </div>
              </td>
              <td flex md-cell>
                <div class="my-md-cell">
                  {{payment.date}}
                </div>
              </td>
              <td flex md-cell>
                <div class="my-md-cell">
                  {{payment.method_name}}
                </div>
              </td>
              <td flex md-cell>
                <div>
                  <button class="md-fab md-mini md-raised md-button md-ink-ripple" ng-class="{'md-warn': payment.status == 0, 'md-primary': payment.status != 0}" type="button">
                    <span class="ng-scope">{{payment.status == 1 ? "OK" : "KO"}}</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <!--
      <md-table-pagination
      md-limit="query.limit"
      md-page="query.page"
      md-total="{{coinslots.count}}"
      md-page-select>
    </md-table-pagination>
  -->
</md-content>
</div>
</section>
